@model projecttwodd.Models.Individual

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Individual</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attrition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attrition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessTravel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessTravel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistanceFromHome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistanceFromHome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Education)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationField)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationField)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnvironmentSatisfaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnvironmentSatisfaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourlyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourlyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobInvolvement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobInvolvement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobSatisfaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobSatisfaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyRaate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyRaate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NCompaniesWorked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NCompaniesWorked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverEighteen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverEighteen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Overtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Overtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentSalaryHike)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentSalaryHike)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformanceRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformanceRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationshipSatisfaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationshipSatisfaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandardHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockOptionLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockOptionLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWorkingYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWorkingYears)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingTimesLastYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingTimesLastYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkLifeBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkLifeBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearsAtCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearsAtCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearsInCurrentRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearsInCurrentRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearsSinceLastPromotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearsSinceLastPromotion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearsWithCurrentManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearsWithCurrentManager)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IndivId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
